body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  width: 900px;
  height: 1020px;
  background: radial-gradient(circle, rgb(156, 122, 122), #975656, rgb(83, 24, 16));
}
header {
  height: 100px;
  background-color: #ccc;
}
header h1 {
  float: left;
  padding: 10px;
}
header h2 {
  float: right;
  padding: 10px;
}
.pic {
    height: 92%;
    width: 47%;
    float: left;
    margin: 10px;
    padding: 2px;
}
.pic img{
  width: 100%;
  height: 30%;
  border: 2px solid #777;
}
.about {
  height: 29%;
  width: 48%;
  float: right;
  margin: 10px;
  background-color: #f9f9f9;
}
.content {
  height: 680px;
  display: inline-block;
}
.container:nth-of-type(1) {
  position: relative;
  bottom: 40px;
}
.container:nth-of-type(2) {
  position: relative;
  bottom: 30px;
}
.container {
  height: 85%;
  width: 30%;
  display: inline-block;
  background-color: #f9f9f9;
  margin: 10px;
}
.title {
  background: linear-gradient(#777, #f9f9f9);
  height: 30px;
  position: relative;
  bottom: 19px;
}
.title h3 {
  padding: 5px;
}
.lang img {
  height: 40px;
  width: 40px;
}
.web img {
  height: 100%;
  width: 100%;
}
.container p {
  font-size: 14px;
  padding: 10px;
}
.btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  font-size: 12px;
  box-shadow: 1px 2px 5px #222;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
}
.btn-1 {
  position: relative;
  top: 40px;
  left: 80px;
}
.btn-2 {
  position: relative;
  top: 30px;
  left: 70px;
}
.btn-3 {
  position: relative;
  left: 80px;
}
.lang {
  height: 49%;
  padding: 5px;
}
footer {
  text-align: center;
  background: #ccc;
  height: 80px;
  position: relative;
  bottom: 90px;
}
footer p img {
  width: 25px;
  height: 25px;
}