* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.wrapper {
  width: 960px;
  height: 100px;
}
.wrapper h2 {
  background-color: #4076a5;
  color: white;
  padding: 15px;
  margin-top: -15px;
}
.logo {
  width: 99%;
}
.logo img {
  width: 50px;
  height: auto;
}
.logo h1 {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: bottom;
}
.logo h1 span {
  color: #28659d;
}
.main {
  background: linear-gradient(to top, #ffffff, #f5f5f5);
  background: -webkit-linear-gradient(to top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(to top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(to top, #ffffff, #f5f5f5);
}
.side-nav {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.side-nav p {
  font-weight: 900;
  margin-left: 5px;
}
.side-nav .red {
  color: red;
}
.side-nav .blue {
  color: #28659d;
}
.side-nav button {
  width: 95%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 900;
}
.side-nav .watch-btn {
  background-color: #3a74a8;
}
.side-nav .more-btn {
  background-color: #ec8c19;
}
.side-nav div.ad {
  background-image: url('../img/ad_background.png');
  height: 300px;
  padding-top: 20px;
}
.side-nav div.ad h3 {
  font-size: 30px;
  text-align: center;
  color: white;
}
.side-nav div.ad img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.side-nav div.ad button {
  background-color: #3bc7de;
  width: 87%;
  padding: 5px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.main-content {
  width: 695px;
  display: inline-block;
}
.main-header {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.main-header img {
  width: 20px;
}
.main-header h3 {
  display: inline-block;
}
.main-header .phone {
  vertical-align: top;
  margin-left: 50%;
  width: 45px;
  margin-top: 10px;
}
.main-header .contact-info {
  display: inline-block;
  vertical-align: top;
}
.contact-info h3 {
  color: #14c1de;
  font-size: 36px;
}
.contact-info p {
  font-size: 10px;
  color: #6d6d6d;
}
.main-info {
  padding-top: 10px;
}
.main-info h3 {
  color: #28659d;
}
.main-info h4 {
  font-weight: 500;
}
.main-info h4 span {
  font-weight: 900;
}
.main-info ul {
  margin-left: 50px;
}
.main-info img {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.main-info ol {
  margin-left: 50px;
}
.footer {
  margin-top: 20px;
  border-top: 3px #0084df solid;
  border-right: 5px #0084df solid;
  border-left: 5px #0084df solid;
}
.footer img {
  width: 100px;
  display: inline-block;
}
.footer div {
  display: inline-block;
  width: 580px;
}