body {
  background-color: black;
  margin: 0;
}
div.row div {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.brick {
  background-color: blue;
}

.coin {
  background: url('img/coin-spin.gif');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: contain;
}

#pacman {
  background: url('img/pacman2.gif');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
}

.empty {
  background: black;
}
#score {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  color: white;
  padding: 7px;
  text-align: center;
}