header {
  text-align: center;
}
header h1 {
  font-family: Tahoma;
}
header p {
  font-family: Arial;
  font-weight: 700;
  font-style: italic;
}
.wrapper {
  background-color: #f9f9f9;
  width: 980px;
  height: auto;
  margin: 0 auto;
}
.side-nav {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
}
.side-nav ul {
  list-style-type: none;
}
.side-nav li h3 {
  font-family: tahoma;
  font-weight: 700;
}
.side-nav li a {
  text-decoration: none;
  color: dodgerblue;
  font-family: tahoma;
}
.side-nav li a:hover {
  color: green;
  transition: 0.4s ease-in-out;
}
.main-content {
  display: inline-block;
  width: 50%;
}
.main-content h1 {
  text-align: center;
  font-family: arial;
}
.main-content p {
  text-align: center;
  font-family: tahoma;
}
