

*{
  margin: 0px;
  padding: 0px;
 }
 #wrapper {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  height: auto;
 }
 #header {
  height: 150px;
  background-color: green;
 }
 #navigation {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin-top: 10px;
 }
 #main_content {
  width: 700px;
  background-color: red;
  display: inline-block;
  padding: 0 0 20px 20px;
  margin: -32% 0 0 22%;
  height: auto;
  overflow: hidden;
 }
 .subcontents {
  height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin: 5px;
 }
 #advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin: 5px;
 }
 @media only screen and (min-width: 1024px) {
  #wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    height: auto;
   }

 }

@media (min-width: 481px) and (max-width: 1023px) {
  #wrapper {
    width: 785px;
    background-color: silver;
    margin: 0px auto;
    height: auto;
   }
   #header {
    height: 125px;
    width: 85%;
    position: relative;
    left: 6%;
    background-color: green;
   }
  #navigation {
    display: none;
  }
  #main_content {
    margin: 10px 0 0px 0;
    padding: 0;
    width: 85%;
    position: relative;
    left: 6%;
  }
  #main_content .subcontents {
    width: 47% !important;
    margin: 10px 10px 10px 0;
    position: relative;
    left: 3%;
  }
  #advertisement {
    width: 85%;
    margin: 20px 0 5px 0;
    position: relative;
    left: 7%;
  }
}
 @media only screen and (max-width: 480px) {
  #wrapper {
    width: 425px;
    background-color: silver;
    margin: 0px auto;
    height: auto;
   }
   #header {
    height: 125px;
    width: 85%;
    position: relative;
    left: 12%;
    background-color: green;
   }
  #navigation {
    display: none;
  }
  #main_content {
    margin: 10px 0 0px 0;
    padding: 0;
    width: 85%;
    position: relative;
    left: 12%;
  }
  #main_content .subcontents {
    width: 85% !important;
    margin: 10px 0 10px 0;
    position: relative;
    left: 8%;
  }
  #advertisement {
    width: 85%;
    margin: 20px 0 5px 0;
    position: relative;
    left: 7%;
  }
}