* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
#world {
  width: 1296px;
  height: 525px;
}
.row {
  line-height: 0;
}
  .wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
    
  }
  .sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('img/sushi.png');
    background-size: contain;
  }
  .onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('img/onigiri.png');
    background-size: contain;
  }
  .blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  #ninjaman {
    height: 33.5px;
    width: 33.5px;
    display: inline-block;
    background-image: url('img/ninja.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
  }
  #score {
    display: inline-block;
    position: relative;
    left: 80%;
    bottom: 350px;
    color: white;
    text-align: center;
    padding-top: 25px;
    width: 70px;
    height: 50px;
    border: 1px dotted white;
  }